.r1{
    background-color: red;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: green;
}
.container{
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    padding:10px;
    background-color:grey;
    justify-items: center;
    align-items: center;
    height:500px;
    justify-content: space-between;
    align-content: flex-start;
}
.rect{
    width: 100px;
    height: 100px;
}
