.container{
    background-color: darkgray;
    height:400px;
    color:white;
    display:flex;
    flex-direction:row;
    
}
.r1{
    background-color:red;
    flex-grow: 1;
}
.r2{
    background-color:blue;
    flex-grow: 1;
}
.r3{
    background-color:green;
    flex-grow: 1; /*Tornar elemento esticável. */
    flex-shrink: 1; /*Tornar elemento encolhível.*/
}
